body {
  margin: 0;
}

.body-block {
  background: url(/assets/main-bg.jpg) center center;
  background-size: cover;
  height: 100vh;
}
.body-block .sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-block .sidebar__card {
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.5);
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.body-block .sidebar__card::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}
.body-block .sidebar__portrait {
  width: 50%;
  height: 120px;
  margin: 50px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-block .sidebar__portrait__avatar {
  width: 100%;
  text-align: center;
}
.body-block .sidebar__portrait__avatar .avatar {
  width: 120px;
  border-radius: 50%;
  background-color: #b6b6b6;
}
.body-block .sidebar__content {
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-shadow: #505050 2px 2px 5px;
}
.body-block .sidebar__content__name {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin: 10px auto;
}
.body-block .sidebar__content__description {
  width: 80%;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px auto;
}
.body-block .sidebar__navigation {
  margin: 50px auto 50px;
}
.body-block .sidebar__navigation .navigation {
  width: 100%;
  color: #fff;
  font-family: "Roboto", Helvetica, sans-serif;
}
.body-block .sidebar__navigation .navigation__list {
  list-style-type: none;
  padding: 0;
}
.body-block .sidebar__navigation .navigation__list .list__item {
  padding: 10px 20%;
  text-align: center;
  color: #fff;
  font-size: 25px;
  text-shadow: #505050 2px 2px 5px;
  cursor: pointer;
}
.body-block .sidebar__navigation .navigation__list .list__item a {
  text-decoration: none;
  color: #fff;
}
.body-block .sidebar__navigation .navigation__list .list__item:hover {
  background-color: rgba(144, 144, 144, 0.5);
}
.body-block .sidebar__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", Helvetica, sans-serif;
}
.body-block .sidebar__social .social__title {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #fff;
}
.body-block .sidebar__social .social__icons {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-block .sidebar__social .social__icons .social__icon {
  opacity: 0.6;
  width: 30px;
  height: 30px;
  color: #f0fff0;
  margin: 5px 2px;
}
.body-block .sidebar__social .social__icons .social__icon:hover {
  opacity: 1;
}
.body-block .sidebar__social .social__icons .social__icon i {
  width: 30px;
  font-size: x-large;
  text-align: center;
}
.body-block .content {
  font-family: "Roboto", Helvetica, sans-serif;
}
.body-block .content .content-inner {
  width: 75%;
  position: fixed;
  right: 0;
  height: 100vh;
  overflow: scroll;
}
.body-block .content .main {
  color: #fff;
  text-shadow: #505050 2px 2px 5px;
}
.body-block .content .main__title {
  margin: 50px 50px;
  font-size: 50px;
}
.body-block .content .main__intro {
  margin: 30px 50px;
  font-size: 30px;
}
.body-block .content .main__intro .highlight {
  font-weight: bolder;
}
.body-block .content .portfolio {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
  transition: ease 1s;
  transition-property: top, bottom;
}
.body-block .content .portfolio__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .portfolio__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .portfolio__timeline {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.body-block .content .portfolio__timeline .timeline {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}
.body-block .content .portfolio__timeline .timeline .time {
  width: 20%;
  min-height: 100px;
  display: block;
  text-align: right;
  padding: 0 10px;
  font-style: italic;
  color: #7a7a7a;
}
.body-block .content .portfolio__timeline .timeline .time__text {
  margin: -7px 0;
}
.body-block .content .portfolio__timeline .timeline .separate {
  min-height: 100px;
  border-right: solid #7a7a7a 1px;
}
.body-block .content .portfolio__timeline .timeline .separate .dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #1561b8;
  display: block;
  transform: translate(5px, 0);
}
.body-block .content .portfolio__timeline .timeline .event {
  width: 80%;
  min-height: 100px;
  display: block;
  padding: 0 10px;
  margin: -7px 0 0 10px;
}
.body-block .content .project {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .project__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .project__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .project .project-gallery {
  width: 85%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 200px);
  margin: 30px 50px 50px;
}
.body-block .content .project .project-gallery__card {
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}
.body-block .content .project .project-gallery__card .card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  overflow: hidden;
}
.body-block .content .project .project-gallery__card .card-img:hover > .card-layer {
  opacity: 1;
  transition: all 0.5s ease;
  transition-property: top bottom;
  margin: 0;
  transform: translate(0, 0);
}
.body-block .content .project .project-gallery__card .card-img .card-layer {
  background-color: rgba(11, 11, 11, 0.7);
  position: sticky;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -200px);
  color: #fff;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-intro {
  margin: auto;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech {
  margin: 0 auto;
}
.body-block .content .project .project-gallery__card .img1 {
  background-image: url(/assets/card1.jpeg);
}
.body-block .content .project .project-gallery__card .img2 {
  background-image: url(/assets/card2.jpeg);
}
.body-block .content .project .project-gallery__card .img3 {
  background-image: url(/assets/card3.jpeg);
}
.body-block .content .project .project-gallery__card .img4 {
  background-image: url(/assets/card4.png);
}
.body-block .content .project .project-gallery__card .img5 {
  background-image: url(/assets/card5.jpeg);
}
.body-block .content .project .project-gallery__card .img6 {
  background-image: url(/assets/card6.jpeg);
}
.body-block .content .blog {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .blog__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .blog__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .contact {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .contact__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .contact__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .contact-content {
  width: 85%;
  margin: auto;
  display: flex;
}
.body-block .content .contact-content .contact-list {
  list-style: none;
  line-height: 2;
  margin: 0;
}
.body-block .content .contact-content__method {
  width: 20%;
}
.body-block .content .contact-content__detail {
  width: 50%;
}

.bg-acknowledge {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.show {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
