$font-head: "Quicksand", sans-serif;
// $font-body: "Oxygen", sans-serif;
$font-body: "Roboto", Helvetica, sans-serif;
$font-color-sidebar: #fff;
$font-size-sidebar: 15px;
$font-content: #303030;
$text-shadow: #505050 2px 2px 5px;

$avatar-bg: #b6b6b6;
$list-hover-bg: rgba(144, 144, 144, 0.5);
$alpha-bg: rgba(90, 90, 90, 0.5);

$icon-color: #f0fff0;
$content-bg: rgba(255, 255, 255, 0.98);

$back-color: rgb(122, 122, 122);

$dot-color: #1561b8;

$image-mask: rgba(11, 11, 11, 0.7);

body {
  margin: 0;
}

.body-block {
  background: url(/assets/main-bg.jpg) center center;
  background-size: cover;
  height: 100vh;

  .sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card {
      width: 100%;
      height: 100%;
      background-color: $alpha-bg;
      overflow: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    &__card::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }

    &__portrait {
      width: 50%;
      height: 120px;
      margin: 50px auto 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        width: 100%;
        text-align: center;
        .avatar {
          width: 120px;
          border-radius: 50%;
          background-color: $avatar-bg;
        }
      }
    }
    &__content {
      width: 100%;
      color: $font-color-sidebar;

      text-align: center;
      margin-top: 30px;
      text-shadow: $text-shadow;

      &__name {
        font-family: $font-head;
        font-size: 30px;
        margin: 10px auto;
      }

      &__description {
        width: 80%;
        font-family: $font-body;
        font-size: 18px;
        margin: 10px auto;
      }
    }

    &__navigation {
      margin: 50px auto 50px;
      .navigation {
        width: 100%;
        color: $font-color-sidebar;
        font-family: $font-body;

        &__list {
          list-style-type: none;
          padding: 0;

          .list__item {
            padding: 10px 20%;
            text-align: center;
            color: $font-color-sidebar;
            font-size: 25px;
            text-shadow: $text-shadow;
            cursor: pointer;

            a {
              text-decoration: none;
              color: $font-color-sidebar;
            }

            &:hover {
              background-color: $list-hover-bg;
            }
          }
        }
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-family: $font-body;

      .social__title {
        font-family: $font-body;
        color: $font-color-sidebar;
      }
      .social__icons {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .social__icon {
          opacity: 0.6;
          width: 30px;
          height: 30px;
          color: #f0fff0;
          margin: 5px 2px;

          &:hover {
            opacity: 1;
          }

          i {
            width: 30px;
            font-size: x-large;
            text-align: center;
          }
        }
      }
    }
  }

  .content {
    font-family: $font-body;

    .content-inner {
      width: 75%;
      position: fixed;
      right: 0;
      height: 100vh;
      overflow: scroll;
    }

    .main {
      color: $font-color-sidebar;
      text-shadow: $text-shadow;

      &__title {
        margin: 50px 50px;
        font-size: 50px;
      }

      &__intro {
        margin: 30px 50px;
        font-size: 30px;
        .highlight {
          font-weight: bolder;
        }
      }
    }

    .portfolio {
      // display: none;
      color: $font-content;
      background: $content-bg;
      transition: ease 1s;
      transition-property: top, bottom;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      &__timeline {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        .timeline {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0 10px;

          .time {
            width: 20%;
            min-height: 100px;
            display: block;
            text-align: right;
            padding: 0 10px;

            font-style: italic;
            color: $back-color;

            &__text {
              margin: -7px 0;
            }
          }

          .separate {
            min-height: 100px;
            border-right: solid $back-color 1px;

            .dot {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: $dot-color;
              display: block;
              transform: translate(5px, 0);
            }
          }

          .event {
            width: 80%;
            min-height: 100px;
            display: block;
            padding: 0 10px;
            margin: -7px 0 0 10px;
          }
        }
      }
    }

    .project {
      color: $font-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      .project-gallery {
        width: 85%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);

        margin: 30px 50px 50px;

        &__card {
          grid-auto-rows: auto;
          grid-auto-columns: auto;

          &:hover {
            // transform: translate(-2px, -2px);
          }

          .card-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            display: flex;
            overflow: hidden;

            &:hover > .card-layer {
              opacity: 1;
              transition: all 0.5s ease;
              transition-property: top bottom;
              margin: 0;
              transform: translate(0, 0);
            }

            .card-layer {
              background-color: $image-mask;
              position: sticky;
              width: 100%;
              height: 100%;
              opacity: 0;
              transform: translate(0, -200px);
              color: $font-color-sidebar;

              .card-intro {
                margin: auto;
              }

              .card-tech {
                margin: 0 auto;
              }
            }
          }

          .img1 {
            background-image: url(/assets/card1.jpeg);
          }
          .img2 {
            background-image: url(/assets/card2.jpeg);
          }
          .img3 {
            background-image: url(/assets/card3.jpeg);
          }
          .img4 {
            background-image: url(/assets/card4.png);
          }
          .img5 {
            background-image: url(/assets/card5.jpeg);
          }
          .img6 {
            background-image: url(/assets/card6.jpeg);
          }
        }
      }
    }

    .blog {
      color: $font-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }
    }

    .contact {
      color: $font-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      &-content {
        width: 85%;
        margin: auto;
        display: flex;

        .contact-list {
          list-style: none;
          line-height: 2;
          margin: 0;
        }

        &__method {
          width: 20%;
        }

        &__detail {
          width: 50%;
        }
      }
    }
  }
}

.bg-acknowledge {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.hidden {
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show {
  visibility: visible;
  // opacity: 1;
}
