.body-block .mobile-navbar__menu-wrap {
  margin: 0 30px;
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap {
  width: 43px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap:hover {
  background-color: rgba(60, 60, 60, 0.7);
  border-radius: 3px;
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap__burger {
  width: 25px;
  height: 3px;
  background-color: #f0fff0;
  box-shadow: #505050 3px 3px 5px;
  border-radius: 3px;
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap__burger::before, .body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap__burger::after {
  content: " ";
  width: 25px;
  height: 3px;
  background-color: #f0fff0;
  box-shadow: #505050 3px 3px 5px;
  position: absolute;
  border-radius: 3px;
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap__burger::before {
  transform: translateY(-8px);
}
.body-block .mobile-navbar__menu-wrap .menu-wrap__button-wrap__burger::after {
  transform: translateY(8px);
}
.body-block .mobile-navbar__menu-wrap .menu {
  width: 0;
  height: calc(100% - 80px);
  position: fixed;
  top: 80px;
  right: 0;
  background-color: rgba(90, 90, 90, 0.7);
  z-index: 100;
  text-align: center;
  opacity: 0;
}
.body-block .mobile-navbar__menu-wrap .menu ul {
  list-style: none;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #f0fff0;
  font-size: 20px;
  line-height: 3;
  margin: 30px auto;
  padding: 0;
}
.body-block .mobile-navbar__menu-wrap .menu__item:hover {
  cursor: pointer;
}
.body-block .mobile-navbar__menu-wrap .menu__item:hover {
  background-color: rgba(50, 50, 50, 0.9);
}

.mobile-navbar__menu-wrap .menu.pop {
  width: 320px;
  transition: all 0.5s ease;
  opacity: 1;
}

.open {
  background-color: rgba(60, 60, 60, 0.7);
}

.menu-wrap__button-wrap.open > .menu-wrap__button-wrap__burger {
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
  transition: all 0.5s ease;
}

.menu-wrap__button-wrap.open .menu-wrap__button-wrap__burger::before {
  transform: translateX(30px) rotate(45deg);
  transition: all 0.5s ease;
}

.menu-wrap__button-wrap.open .menu-wrap__button-wrap__burger::after {
  transform: translateX(30px) rotate(-45deg);
  transition: all 0.5s ease;
}

body {
  margin: 0;
}

.body-block {
  background: url(/assets/main-bg4.jpg) center center;
  background-size: cover;
  height: 100vh;
  /* content starts here */
}
@media screen and (min-width: 1000px) {
  .body-block .mobile-navbar {
    display: none;
  }
  .body-block .sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body-block .sidebar__card {
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.7);
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .body-block .sidebar__card a {
    text-decoration: none;
  }
  .body-block .sidebar__card::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
  .body-block .sidebar__portrait {
    width: 50%;
    height: 120px;
    margin: 50px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body-block .sidebar__portrait__avatar {
    width: 100%;
    text-align: center;
  }
  .body-block .sidebar__portrait__avatar .avatar {
    width: 120px;
    border-radius: 50%;
    background-color: #b6b6b6;
  }
  .body-block .sidebar__content {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    text-shadow: #505050 2px 2px 5px;
  }
  .body-block .sidebar__content__name {
    font-family: "Quicksand", "Oxygen", sans-serif;
    font-size: 30px;
    margin: 10px auto;
  }
  .body-block .sidebar__content__description {
    width: 80%;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px auto;
  }
  .body-block .sidebar__navigation {
    margin: 50px auto 50px;
  }
  .body-block .sidebar__navigation .navigation {
    width: 100%;
    color: #fff;
    font-family: "Roboto", Helvetica, sans-serif;
  }
  .body-block .sidebar__navigation .navigation__list {
    list-style-type: none;
    padding: 0;
  }
  .body-block .sidebar__navigation .navigation__list .list__item {
    padding: 10px 20%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-shadow: #505050 2px 2px 5px;
    cursor: pointer;
  }
  .body-block .sidebar__navigation .navigation__list .list__item a {
    text-decoration: none;
    color: #fff;
  }
  .body-block .sidebar__navigation .navigation__list .list__item:hover {
    background-color: rgba(144, 144, 144, 0.5);
  }
  .body-block .sidebar__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", Helvetica, sans-serif;
  }
  .body-block .sidebar__social .social__title {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #fff;
  }
  .body-block .sidebar__social .social__icons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-block .sidebar__social .social__icons .social__icon {
    opacity: 0.6;
    width: 30px;
    height: 30px;
    color: #f0fff0;
    margin: 5px 2px;
  }
  .body-block .sidebar__social .social__icons .social__icon:hover {
    opacity: 1;
  }
  .body-block .sidebar__social .social__icons .social__icon i {
    width: 30px;
    font-size: x-large;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .body-block .sidebar {
    display: none;
  }
  .body-block .mobile-navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(90, 90, 90, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .body-block .mobile-navbar__social-icons {
    margin-left: 5%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .body-block .mobile-navbar__social-icons a {
    text-decoration: none;
    color: #f0fff0;
    font-size: x-large;
    opacity: 0.6;
    margin: 0 3px;
    display: block;
  }
  .body-block .mobile-navbar__social-icons a:hover {
    opacity: 1;
  }
  .body-block .mobile-navbar__home {
    color: #f0fff0;
    font-size: x-large;
    position: absolute;
    left: calc(50% - 13px);
  }
  .body-block .mobile-navbar__home:hover {
    transform: scale(1.2);
  }
}
.body-block .content {
  font-family: "Roboto", Helvetica, sans-serif;
}
@media screen and (min-width: 1000px) {
  .body-block .content .content-inner {
    width: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .body-block .content .content-inner {
    width: 100%;
  }
}
.body-block .content .content-inner {
  position: fixed;
  right: 0;
  height: 100vh;
  overflow: scroll;
}
.body-block .content .main {
  color: #fff;
  text-shadow: #505050 2px 2px 5px;
}
.body-block .content .main__title {
  margin: 50px 50px;
  font-size: 50px;
}
.body-block .content .main__intro {
  margin: 30px 50px;
  font-size: 30px;
}
.body-block .content .main__intro .highlight {
  font-weight: bolder;
}
.body-block .content .main__findmore {
  display: flex;
  width: 180px;
  height: 40px;
  border: 2px #f0fff0 solid;
  justify-content: center;
  align-items: center;
  margin: 100px 50px;
  cursor: pointer;
  box-shadow: #505050 3px 3px 5px;
  background-color: rgba(90, 90, 90, 0.7);
}
.body-block .content .main__findmore:hover {
  background-color: rgba(50, 50, 50, 0.7);
}
.body-block .content .main__switch-bg {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.body-block .content .main__switch-bg i {
  font-size: x-large;
}
.body-block .content .main__switch-bg:hover i {
  color: rgba(190, 190, 190, 0.9);
}
.body-block .content .portfolio {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
  transition: ease 1s;
  transition-property: top, bottom;
}
.body-block .content .portfolio__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .portfolio__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .portfolio__timeline {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.body-block .content .portfolio__timeline .timeline {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}
.body-block .content .portfolio__timeline .timeline .time {
  width: 20%;
  min-height: 100px;
  display: block;
  text-align: right;
  padding: 0 10px;
  font-style: italic;
  color: #7a7a7a;
}
.body-block .content .portfolio__timeline .timeline .time__text {
  margin: -7px 0;
}
.body-block .content .portfolio__timeline .timeline .separate {
  min-height: 100px;
  border-right: solid #7a7a7a 1px;
}
.body-block .content .portfolio__timeline .timeline .separate .dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #1561b8;
  display: block;
  transform: translate(5px, 0);
}
.body-block .content .portfolio__timeline .timeline .event {
  width: 80%;
  min-height: 100px;
  display: block;
  padding: 0 10px;
  margin: -7px 0 0 10px;
}
.body-block .content .project {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .project__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .project__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .project .project-gallery {
  width: 85%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 30px 5% 30px;
}
.body-block .content .project .project-gallery a {
  text-decoration: none;
}
.body-block .content .project .project-gallery__card {
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}
.body-block .content .project .project-gallery__card .card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  overflow: hidden;
}
.body-block .content .project .project-gallery__card .card-img:hover > .card-layer {
  opacity: 1;
  transition: all 0.5s ease;
  transition-property: top bottom;
  margin: 0;
  transform: translate(0, 0);
}
.body-block .content .project .project-gallery__card .card-img .card-layer {
  background-color: rgba(11, 11, 11, 0.7);
  position: sticky;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(0, -200px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-intro {
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech {
  display: flex;
  flex-direction: column;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__text {
  margin: 0 auto 10px;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon {
  font-size: xx-large;
  margin: 0 auto 10px;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-html5:hover .html5 {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-css3-alt:hover .css3 {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-js:hover .js {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-adobe:hover .adobe {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-react:hover .react {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-sass:hover .sass {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-bootstrap:hover .bootstrap {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-aws:hover .aws {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .fa-npm:hover .npm {
  visibility: visible;
  transition-delay: 0.6s;
}
.body-block .content .project .project-gallery__card .card-img .card-layer .card-tech__icon .tooltip {
  visibility: hidden;
  width: auto;
  background-color: #fff06b;
  color: #303030;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  padding: 3px 3px;
  position: absolute;
  transform: translate(-10px, -10px);
}
.body-block .content .project .project-gallery__card .img1 {
  background-image: url(/assets/card1.jpeg);
}
.body-block .content .project .project-gallery__card .img2 {
  background-image: url(/assets/card2.jpeg);
}
.body-block .content .project .project-gallery__card .img3 {
  background-image: url(/assets/card3.jpeg);
}
.body-block .content .project .project-gallery__card .img4 {
  background-image: url(/assets/card4.png);
}
.body-block .content .project .project-gallery__card .img5 {
  background-image: url(/assets/card5.jpeg);
}
.body-block .content .project .project-gallery__card .img6 {
  background-image: url(/assets/card6.jpeg);
}
.body-block .content .blog {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .blog__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .blog__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .contact {
  color: #303030;
  background: rgba(255, 255, 255, 0.98);
}
.body-block .content .contact__title {
  font-size: 40px;
  margin: 50px 50px 30px;
}
.body-block .content .contact__intro {
  font-size: 16px;
  margin: 30px 55px 50px;
}
.body-block .content .contact-content {
  width: 85%;
  margin: auto;
  display: flex;
}
.body-block .content .contact-content .contact-list {
  list-style: none;
  line-height: 2;
  margin: 0;
}
.body-block .content .contact-content__method {
  width: 20%;
}
.body-block .content .contact-content__detail {
  width: 50%;
}

.bg-acknowledge {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.show {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
