@import "menu";

$font-head: "Quicksand", "Oxygen", sans-serif;
$font-body: "Roboto", Helvetica, sans-serif;
$font-color-sidebar: #fff;
$font-color-dark: rgba(190, 190, 190, 0.9);
$font-size-sidebar: 15px;
$font-color-content: #303030;
$text-shadow: #505050 2px 2px 5px;
$box-shadow: #505050 3px 3px 5px;

$avatar-bg: #b6b6b6;
$list-hover-bg: rgba(144, 144, 144, 0.5);
$alpha-bg: rgba(90, 90, 90, 0.7);
$alpha-bg-active: rgba(50, 50, 50, 0.7);
$alpha-bg2: rgba(34, 129, 207, 0.7);

$icon-color: #f0fff0;
$content-bg: rgba(255, 255, 255, 0.98);

$back-color: rgb(122, 122, 122);
$back-color-dark: rgb(80, 80, 80);
$back-color-yellow: rgb(255, 240, 107);

$dot-color: #1561b8;

$image-mask: rgba(11, 11, 11, 0.7);

body {
  margin: 0;
}

.body-block {
  background: url(/assets/main-bg4.jpg) center center;
  background-size: cover;
  height: 100vh;

  @media screen and (min-width: 1000px) {
    .mobile-navbar {
      display: none;
    }

    .sidebar {
      top: 0;
      bottom: 0;
      left: 0;
      width: 25%;
      position: fixed;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__card {
        width: 100%;
        height: 100%;
        background-color: $alpha-bg;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        a {
          text-decoration: none;
        }
      }
      &__card::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }

      &__portrait {
        width: 50%;
        height: 120px;
        margin: 50px auto 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__avatar {
          width: 100%;
          text-align: center;
          .avatar {
            width: 120px;
            border-radius: 50%;
            background-color: $avatar-bg;
          }
        }
      }
      &__content {
        width: 100%;
        color: $font-color-sidebar;

        text-align: center;
        margin-top: 30px;
        text-shadow: $text-shadow;

        &__name {
          font-family: $font-head;
          font-size: 30px;
          margin: 10px auto;
        }

        &__description {
          width: 80%;
          font-family: $font-body;
          font-size: 18px;
          margin: 10px auto;
        }
      }

      &__navigation {
        margin: 50px auto 50px;
        .navigation {
          width: 100%;
          color: $font-color-sidebar;
          font-family: $font-body;

          &__list {
            list-style-type: none;
            padding: 0;

            .list__item {
              padding: 10px 20%;
              text-align: center;
              color: $font-color-sidebar;
              font-size: 25px;
              text-shadow: $text-shadow;
              cursor: pointer;

              a {
                text-decoration: none;
                color: $font-color-sidebar;
              }

              &:hover {
                background-color: $list-hover-bg;
              }
            }
          }
        }
      }

      &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: $font-body;

        .social__title {
          font-family: $font-body;
          color: $font-color-sidebar;
        }
        .social__icons {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          .social__icon {
            opacity: 0.6;
            width: 30px;
            height: 30px;
            color: #f0fff0;
            margin: 5px 2px;

            &:hover {
              opacity: 1;
            }

            i {
              width: 30px;
              font-size: x-large;
              text-align: center;
            }
          }
        }
      }
    }
  }

  // small screen nav bar
  @media screen and (max-width: 1000px) {
    .sidebar {
      display: none;
    }
    .mobile-navbar {
      width: 100%;
      height: 80px;
      background-color: $alpha-bg;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__social-icons {
        margin-left: 5%;
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $icon-color;
          font-size: x-large;
          opacity: 0.6;
          margin: 0 3px;
          display: block;

          &:hover {
            opacity: 1;
          }
        }
      }

      &__home {
        color: $icon-color;
        font-size: x-large;
        position: absolute;
        left: calc(50% - 13px);

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  /* content starts here */
  .content {
    font-family: $font-body;

    // large screens
    @media screen and (min-width: 1000px) {
      .content-inner {
        width: 75%;
      }
    }
    // small screens
    @media screen and (max-width: 1000px) {
      .content-inner {
        width: 100%;
      }
    }
    .content-inner {
      position: fixed;
      right: 0;
      height: 100vh;
      overflow: scroll;
    }

    /* main page */
    .main {
      color: $font-color-sidebar;
      text-shadow: $text-shadow;

      &__title {
        margin: 50px 50px;
        font-size: 50px;
      }

      &__intro {
        margin: 30px 50px;
        font-size: 30px;
        .highlight {
          font-weight: bolder;
        }
      }

      &__findmore {
        display: flex;
        width: 180px;
        height: 40px;
        border: 2px $icon-color solid;
        justify-content: center;
        align-items: center;
        margin: 100px 50px;
        cursor: pointer;

        box-shadow: $box-shadow;
        background-color: $alpha-bg;

        &:hover {
          background-color: $alpha-bg-active;
        }
      }

      &__switch-bg {
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;

        i {
          font-size: x-large;
        }

        &:hover i {
          color: $font-color-dark;
        }
      }
    }

    /* portfolio page */
    .portfolio {
      color: $font-color-content;
      background: $content-bg;
      transition: ease 1s;
      transition-property: top, bottom;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      &__timeline {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        .timeline {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 10px 10px;

          .time {
            width: 20%;
            min-height: 100px;
            display: block;
            text-align: right;
            padding: 0 10px;

            font-style: italic;
            color: $back-color;

            &__text {
              margin: -7px 0;
            }
          }

          .separate {
            display: block;
            min-height: 100px;
            height: 200px;
            border-right: solid $back-color 1px;

            .dot {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: $dot-color;
              display: block;
              transform: translate(5px, 0);
            }
          }

          .event {
            width: 80%;
            min-height: 100px;
            display: block;
            padding: 0 10px;
            margin: -7px 0 0 10px;
          }
        }
      }
    }

    /* project page */
    .project {
      color: $font-color-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      .project-gallery {
        width: 85%;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        margin: 30px 5% 30px;

        a {
          text-decoration: none;
        }

        &__card {
          grid-auto-rows: auto;
          grid-auto-columns: auto;

          .card-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            display: flex;
            overflow: hidden;

            &:hover > .card-layer {
              opacity: 1;
              transition: all 0.5s ease;
              transition-property: top bottom;
              margin: 0;
              transform: translate(0, 0);
            }

            .card-layer {
              background-color: $image-mask;
              position: sticky;
              width: 100%;
              height: 100%;
              opacity: 0;
              transform: translate(0, -200px);
              color: $font-color-sidebar;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .card-intro {
                margin: 0 auto;
                padding: 0 20px;
                text-align: justify;
              }

              .card-tech {
                display: flex;
                flex-direction: column;

                &__text {
                  margin: 0 auto 10px;
                }

                &__icon {
                  font-size: xx-large;
                  margin: 0 auto 10px;

                  .fa-html5:hover .html5 {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-css3-alt:hover .css3 {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-js:hover .js {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-adobe:hover .adobe {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-react:hover .react {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-sass:hover .sass {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-bootstrap:hover .bootstrap {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-aws:hover .aws {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }
                  .fa-npm:hover .npm {
                    visibility: visible;
                    transition-delay: 0.6s;
                  }

                  .tooltip {
                    visibility: hidden;
                    width: auto;
                    background-color: $back-color-yellow;
                    color: $font-color-content;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 3px;
                    padding: 3px 3px;

                    position: absolute;
                    transform: translate(-10px, -10px);
                  }
                }
              }
            }
          }

          .img1 {
            background-image: url(/assets/card1.jpeg);
          }
          .img2 {
            background-image: url(/assets/card2.jpeg);
          }
          .img3 {
            background-image: url(/assets/card3.jpeg);
          }
          .img4 {
            background-image: url(/assets/card4.png);
          }
          .img5 {
            background-image: url(/assets/card5.jpeg);
          }
          .img6 {
            background-image: url(/assets/card6.jpeg);
          }
        }
      }
    }

    /* blog page */
    .blog {
      color: $font-color-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }
    }

    /* contact page */
    .contact {
      color: $font-color-content;
      background: $content-bg;

      &__title {
        font-size: 40px;
        margin: 50px 50px 30px;
      }

      &__intro {
        font-size: 16px;
        margin: 30px 55px 50px;
      }

      &-content {
        width: 85%;
        margin: 30px 55px 50px;
        display: flex;

        &__list {
          width: 100%;
          max-width: 300px;
          margin: 0;
          padding: 0;
        }

        &__list-item {
          list-style: none;
          line-height: 1.5;
          margin: 15px 0;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-wrap: wrap;

          &__method {
            width: 80px;
            margin: 0 20px 0 0;
          }

          &__detail {
            display: flex;
            align-items: center;
            width: 200px;
          }

          .detail-link {
            display: block;
          }
        }
      }
    }
  }
}

.bg-acknowledge {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 50%;
  display: none;
}

.hidden {
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show {
  visibility: visible;
  // opacity: 1;
}
